<!-- <div class="content">
  <div class="navbar">
      <app-navbar></app-navbar>
  </div>
  <div class="aboutMain">content</div>
</div> -->
  
<div class="container">
  <header>
    <app-navbar></app-navbar>
  </header>
  
  <main>
    <div class="bgColorChange" [class.gridGapColor]="hoverTest"></div>
    <div class="myBackground">
      <h1>Steven Nguyen</h1>
      <img src="../../assets/images/pic_me.JPG" class="profilePic">
      <p>Hello and welcome to my website! My name is Steven Nguyen and I am a web developer in training. I just recently graduated from college 
        and realized that I have not created a personal website yet. So here it is! On this site you will learn a little bit about myself - what my background is, 
        what my hobbies are, some of my past projects, and my portfolio of baked goods...you know...in case my web development plan goes south and I need to open up a bakery shop! 
      </p>
    </div>


    <div class="myEducation">
      <h1>My Education</h1>
      <div>
        2012 <img src="../../assets/images/OULogo.png" class="OUPic"> 2017
      </div>
      
      <div class="degree">
        <h4>School of Engineering and Computer Science</h4>
        <p class="boldText">Bachelors of Science in Information Technology</p>
        <p class="boldText">Summa Cum Laude</p>
        <p class="boldText">GPA: 3.96</p>
      </div>
      <p>When I first began college, I had no idea what I wanted to do. Before committing to IT, I thought about other areas such as culinary arts, 
        graphic design, and marketing. After a lot of thought, I ultimately ended up choosing IT in 2014 and thus, began my journey where I eventually discovered my desire to be a 
        web/software developer.<br> (Add more stuff to this when I think of something else to say...)
      </p>
    </div>


    <div class="myExperience">
      <h1>My Work Experience</h1>
      <div class="workSection" *ngFor = "let job of jobs">
          <h3>{{job.company}}</h3>
          <p class="boldText">{{job.position}}</p>
          <small class="boldText">{{job.year}}</small>
      </div>
    </div>



    <div class="myLinks">
      <a href="https://www.linkedin.com/in/steven-nguyen-b114b0134" target="_blank" (mouseenter)="highlight()" (mouseleave)="unHighlight()">
        <i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i></a>
      <a href="https://github.com/s24nguyen" target="_blank" (mouseenter)="highlight()" (mouseleave)="unHighlight()">
          <i class="fa fa-github-square fa-4x" aria-hidden="true"></i>
      </a>
      <a href="https://www.facebook.com/steven.nguyen.311" target="_blank" (mouseenter)="highlight()" (mouseleave)="unHighlight()">
          <i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i>
      </a>
      <a href="mailto:s24nguyen@gmail.com" (mouseenter)="highlight()" (mouseleave)="unHighlight()">
          <i class="fa fa-envelope fa-4x" aria-hidden="true"></i>
      </a>
    </div>
  </main>
</div>
