//Color Themes 
$customBackground: #252325;
$customRed: #9B0F0F;
$customBlue: #2F6B9E;
$customWhite: #b2b4b2;
$customYellow: #FFF05A;

$customPurple: #514689;
$customPurple2: #a7a4e0;


//fonts
$dosis: 'Dosis', sans-serif;
$racing:'Racing Sans One', cursive;