@import './variables';
@import './mixins';

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';
@import url('https://fonts.googleapis.com/css?family=Dosis|Racing+Sans+One');

body, html, h1{
    height: 100%;
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a{
    @include aLink;
}

.boldText{
    font-weight: 900;
}