<nav>
  <ul>
    <li>
      <a routerLink="/home"><i class="fa fa-home" aria-hidden="true"> <br>Home</i></a>
    </li>
    <li>
      <a><i class="fa fa-user" aria-hidden="true"><br>About Me</i></a>
    </li>
    <li>
      <a><i class="fa fa-gamepad" aria-hidden="true"><br>Hobbies</i></a>
    </li>
    <li>
      <a><i class="fa fa-terminal" aria-hidden="true"><br>Projects</i></a>
    </li>
    <li>
      <a><i class="fa fa-cutlery" aria-hidden="true"><br>Bakery Shop</i></a>
    </li>
  </ul>
</nav>